.App {
  text-align: center;
}
.light{
  color: black;
  background: white;
}
.dark {
  background: black;
  color: white;
}
#home {
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.55);
  padding: 3vh 5%;
  width: 40%;
  margin: 0 auto;
  height: 50vh;
}
